In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# total2020 = pd.read_csv('20년월별충전량.csv')
# total2021 = pd.read_csv('21년월별충전량.csv')

In [4]:
total2020 = pd.read_csv('monthly_charging_by_station2020.csv')
total2021 = pd.read_csv('monthly_charging_by_station2021.csv')

In [10]:
total2020 = total2020.drop('Unnamed: 0', axis=1)
total2021 = total2021.drop('Unnamed: 0', axis=1)

In [16]:
total2020

         구         충전소명    month       급속       완속
0     서귀포시  가시리 조랑말체험공원  2020-01  1012.70     0.00
1     서귀포시  가시리 조랑말체험공원  2020-02   911.07     0.00
2     서귀포시  가시리 조랑말체험공원  2020-03  1998.49     0.00
3     서귀포시  가시리 조랑말체험공원  2020-04  1558.08     0.00
4     서귀포시  가시리 조랑말체험공원  2020-05   669.18     0.00
...    ...          ...      ...      ...      ...
2987   제주시    화북주공2 아파트  2020-11  2510.91  3594.11
2988   제주시    화북주공2 아파트  2020-12   319.88   373.78
2989   제주시  환경성질환예방관리센터  2020-07     1.52     0.00
2990   제주시  환경성질환예방관리센터  2020-08    12.25     0.00
2991   제주시  환경성질환예방관리센터  2020-11     8.82     0.00

[2992 rows x 5 columns]

In [18]:
merged_charge = pd.concat([total2020, total2021], ignore_index=True)
merged_charge

         구         충전소명    month       급속       완속
0     서귀포시  가시리 조랑말체험공원  2020-01  1012.70     0.00
1     서귀포시  가시리 조랑말체험공원  2020-02   911.07     0.00
2     서귀포시  가시리 조랑말체험공원  2020-03  1998.49     0.00
3     서귀포시  가시리 조랑말체험공원  2020-04  1558.08     0.00
4     서귀포시  가시리 조랑말체험공원  2020-05   669.18     0.00
...    ...          ...      ...      ...      ...
5295   제주시    화북주공2 아파트  2021-07  2969.25  4211.82
5296   제주시    화북주공2 아파트  2021-08  2268.25  4714.45
5297   제주시    화북주공2 아파트  2021-09   418.93  4851.41
5298   제주시    화북주공2 아파트  2021-10   648.32  2506.38
5299   제주시  환경성질환예방관리센터  2021-08    27.20     0.00

[5300 rows x 5 columns]

In [36]:
tour = pd.read_csv('20,21년관광객정리.csv')

In [37]:
tour = tour.drop('Unnamed: 0', axis=1)
tour

,시도,군구,관광지,내/외국인,총계(2020.01 ~ 2020.12),인원계,2020년 01월,2020년 02월,2020년 03월,2020년 04월,...,2021년 03월,2021년 04월,2021년 05월,2021년 06월,2021년 07월,2021년 08월,2021년 09월,2021년 10월,2021년 11월,2021년 12월
0,제주특별자치도,제주시,국립제주박물관,합계,174405.0,82894.0,24670.0,9046.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,제주특별자치도,제주시,도립미술관,합계,65094.0,27617.0,12832.0,5479.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,제주특별자치도,제주시,만장굴관광지,합계,646332.0,310848.0,37506.0,18882.0,12678.0,10822.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,제주특별자치도,제주시,민속자연사박물관,합계,140613.0,60228.0,22790.0,6239.0,103.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,제주특별자치도,제주시,비자림,합계,1222341.0,607945.0,49012.0,31732.0,31260.0,30457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,제주특별자치도,서귀포시,천제연폭포,합계,NaN,346263.0,NaN,NaN,NaN,NaN,...,24352.0,32717.0,35130.0,32946.0,34007.0,31354.0,28496.0,38233.0,36915.0,25572.0
68,제주특별자치도,서귀포시,천지연폭포,합계,NaN,814491.0,NaN,NaN,NaN,NaN,...,57071.0,84989.0,89379.0,79202.0,75976.0,69364.0,61695.0,86377.0,82484.0,63180.0
69,제주특별자치도,서귀포시,카멜리아힐,합계,NaN,504815.0,NaN,NaN,NaN,NaN,...,25674.0,36509.0,51533.0,58198.0,29203.0,14540.0,19263.0,54212.0,91085.0,90727.0
70,제주특별자치도,서귀포시,퍼시픽랜드,합계,NaN,123427.0,NaN,NaN,NaN,NaN,...,8515.0,11386.0,14343.0,13811.0,13388.0,11452.0,8302.0,11238.0,11377.0,7935.0
71,제주특별자치도,서귀포시,한화아쿠아플라넷제주,합계,NaN,675638.0,NaN,NaN,NaN,NaN,...,43885.0,53856.0,63486.0,58588.0,74117.0,73451.0,54684.0,66885.0,63344.0,56346.0

In [25]:
seogwipo = merged_charge[merged_charge['구'] == '서귀포시']
seogwipo['날짜'] = pd.to_datetime(merged_charge['month']).dt.month
result_seo = seogwipo.groupby('month')[['급속','완속']].sum()
result_seo

C:\Users\admin\AppData\Local\Temp\ipykernel_24708\757251040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seogwipo['날짜'] = pd.to_datetime(merged_charge['month']).dt.month

                 급속        완속
month
2020-01   99765.780  26155.11
2020-02   80013.340  23725.06
2020-03   74583.800  25710.65
2020-04   76545.550  24701.62
2020-05   93531.656  25193.92
2020-06   82702.550  23161.85
2020-07   91627.405  27737.78
2020-08   98733.470  29639.73
2020-09   87962.580  26481.46
2020-10   98279.260  27905.16
2020-11   99159.520  29010.12
2020-12   10140.240   3513.27
2021-01   89350.580  28419.04
2021-02   95231.660  26936.31
2021-03  101274.470  30366.85
2021-04   91666.570  28237.55
2021-05   42446.895  14241.41
2021-07   92589.346  31857.22
2021-08   89534.320  33278.13
2021-09   88960.716  30087.24
2021-10   55585.639  15460.15

In [26]:
seogwipo = merged_charge[merged_charge['구'] == '제주시']
seogwipo['날짜'] = pd.to_datetime(merged_charge['month']).dt.month
result_jeju = seogwipo.groupby('month')[['급속','완속']].sum()
result_jeju

C:\Users\admin\AppData\Local\Temp\ipykernel_24708\2450299233.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seogwipo['날짜'] = pd.to_datetime(merged_charge['month']).dt.month

                    급속             완속
month
2020-01  270650.050000   94345.990000
2020-02  223092.200000   81225.840000
2020-03  209011.540000   83982.610000
2020-04  204398.090000   85124.799732
2020-05  212714.400000   87935.280000
2020-06  214894.790000   83449.250000
2020-07  251398.820000   98106.630000
2020-08  272671.247000  103083.580000
2020-09  206155.821000   87338.180000
2020-10  217270.841000   94970.790000
2020-11  234197.765000   98889.840000
2020-12   25590.592000   10460.150000
2021-01  205892.543000   94236.340000
2021-02  204724.982000   92466.940000
2021-03  224906.588000  103860.690000
2021-04  202642.591000  102867.584875
2021-05  100400.730000   48795.480000
2021-07  235630.227000  113580.310000
2021-08  227622.578000  110707.380000
2021-09  215198.544942  105095.120000
2021-10  134362.133942   59753.460000

In [27]:
df = pd.concat([result_seo, result_jeju], axis=1, keys=['서귀포시', '제주시'])
df = pd.concat([df,tour], axis=1)
df.head()

,"(서귀포시, 급속)","(서귀포시, 완속)","(제주시, 급속)","(제주시, 완속)",시도,군구,관광지,내/외국인,총계(2020.01 ~ 2020.12),인원계,...,2021년 03월,2021년 04월,2021년 05월,2021년 06월,2021년 07월,2021년 08월,2021년 09월,2021년 10월,2021년 11월,2021년 12월
2020-01,99765.780,26155.11,270650.05,94345.990000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02,80013.340,23725.06,223092.20,81225.840000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03,74583.800,25710.65,209011.54,83982.610000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04,76545.550,24701.62,204398.09,85124.799732,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05,93531.656,25193.92,212714.40,87935.280000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# df.to_csv('20년21년제주시서귀포시충전량여행객.csv', encoding='utf-8-sig')

In [38]:
tour

,시도,군구,관광지,내/외국인,총계(2020.01 ~ 2020.12),인원계,2020년 01월,2020년 02월,2020년 03월,2020년 04월,...,2021년 03월,2021년 04월,2021년 05월,2021년 06월,2021년 07월,2021년 08월,2021년 09월,2021년 10월,2021년 11월,2021년 12월
0,제주특별자치도,제주시,국립제주박물관,합계,174405.0,82894.0,24670.0,9046.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,제주특별자치도,제주시,도립미술관,합계,65094.0,27617.0,12832.0,5479.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,제주특별자치도,제주시,만장굴관광지,합계,646332.0,310848.0,37506.0,18882.0,12678.0,10822.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,제주특별자치도,제주시,민속자연사박물관,합계,140613.0,60228.0,22790.0,6239.0,103.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,제주특별자치도,제주시,비자림,합계,1222341.0,607945.0,49012.0,31732.0,31260.0,30457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,제주특별자치도,서귀포시,천제연폭포,합계,NaN,346263.0,NaN,NaN,NaN,NaN,...,24352.0,32717.0,35130.0,32946.0,34007.0,31354.0,28496.0,38233.0,36915.0,25572.0
68,제주특별자치도,서귀포시,천지연폭포,합계,NaN,814491.0,NaN,NaN,NaN,NaN,...,57071.0,84989.0,89379.0,79202.0,75976.0,69364.0,61695.0,86377.0,82484.0,63180.0
69,제주특별자치도,서귀포시,카멜리아힐,합계,NaN,504815.0,NaN,NaN,NaN,NaN,...,25674.0,36509.0,51533.0,58198.0,29203.0,14540.0,19263.0,54212.0,91085.0,90727.0
70,제주특별자치도,서귀포시,퍼시픽랜드,합계,NaN,123427.0,NaN,NaN,NaN,NaN,...,8515.0,11386.0,14343.0,13811.0,13388.0,11452.0,8302.0,11238.0,11377.0,7935.0
71,제주특별자치도,서귀포시,한화아쿠아플라넷제주,합계,NaN,675638.0,NaN,NaN,NaN,NaN,...,43885.0,53856.0,63486.0,58588.0,74117.0,73451.0,54684.0,66885.0,63344.0,56346.0